<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point Of Sale</title>
    {% load static %}
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
</head>
<body>
    <h1>Hola master, esto es la página principal de el punto de venta</h1>
    <img class="giorno" src="https://i.ytimg.com/vi/JpWJ5x8T9R4/maxresdefault.jpg" alt="">
    <ul>
        <li>
            <a href="/add_supplier">Ingresar proveedor</a>
        </li>
        <li>
            <a href="/add_categorie">Agregar categoría</a>
        </li>
        <li>
            <a href="/add_product">Ingresar productos</a>
        </li>
        <li>
            <a href="/add_employee">Ingresar empleado</a>
        </li>
        <li>
            <a href="">Vender productos</a>
        </li>
        <li>
            <a href="">Ver inventario de productos</a>
        </li>
    </ul>
    
</body>
</html>